body {
	text-align: center;
  color: white;
  text-shadow: 1px 1px #555555;
}

.center section {
  height: 100%;
  padding: 350px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

sup {
  font-size: 1em;
}

/*section:not(:last-child):after {
    content:'⬇️';
    position: absolute;
    font-size: 3em;
    top: 86%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
}*/

#isaac {
  background-image: url("images/isaac.JPG");
  background-position: bottom center;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { 
  #isaac h1 {  
    margin-top: 2em;
  }

  #onemin span {
    line-height: 1.5em;
  }
}

#onemin {
  background-image: url("images/oneminute.png");
  text-shadow: none;
  color: white;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
}

#builder {
  background-image: url("images/clay.jpeg");
}
/*
.layer {
  display: table;
  background-color: rgba(0,0,0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
*/
#absolute {
  margin: auto;
}

#sf {
  background-image: url("images/fog.jpg");
}

.img, #share {
  color: #555555;
  text-shadow: none;
}

#share ul {
  /*padding-left: 0;*/
  width: 100%;
  margin: 0 auto;
}

#share ul li {
  display: inline-block;
  list-style-type: none;
  padding-right: 10px;
}

#twitter {
  color: #55acee;
}

#facebook {
  color: #3b5998;
}

#email {
  color: #555;
}

#oneminute {
  color: #16ebe2;
  text-shadow: none;
}

#github {
  color: #4183c4;
}

#blog {
  color: rgba(0,0,0,0.8);
}

